include ../mixins/assignmentPreview
if details
  +assignmentPreview(details.title,details.duedate,details.details,details.assignment_id,courseId,details.maxpoints,details.grade,details.assignment_filepath,details.feedback_message,details.feedback_filepath,details.materials)
else
  div No Details Available.