extends layout 

block content
  include mixins/assignment
  .container
    .row
      .col  
        h1.text-center.mt-4= page
    .row
      .col.text-center
        .btn-group
          button.btn.btn-secondary(type='button') Choose Course
          button#dropdownMenuReference.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' data-reference='parent')
            span.sr-only Toggle Dropdown
          .dropdown-menu(aria-labelledby='dropdownMenuReference')
            a.dropdown-item(href='#') Java Application Development
            a.dropdown-item(href='#') Computer Graphics
            a.dropdown-item(href='#') Mobile Application Development
    .row   
      .col-5
        each item in assignments
            +assignment(item.title,item.due,item.submitted,item.assignmentid)
      .col-2
      .col-5