extends layout 

block content
  include mixins/assignment
  include mixins/dropdown
  include mixins/assignmentPreview
  .container
    .row
      .col-lg  
        h1.text-center.mt-4= page
        hr
        include partials/alerts
    +dropdown(courses)
    .row.mb-4  
      .col
        h2#courseHeader
    .row   
      if assignmentId
        include partials/assignmentSection
      else
        .col-lg-5.mb-4#assignmentContainer
        .col-lg-2
        .col-lg-5.mb-4#detailsContainer
         