extends layout 

block content
  include mixins/dropdown
  .container
    .row
      .col-lg  
        h1.text-center.mt-4= page
        hr
    +dropdown(courses)
    .row.mb-4  
      .col-lg-8
        h2#courseHeader
      .col-lg-4#categoryContainer
          
    .row   
      .col-lg-12#resourceContainer