extends layout 

block content
  include mixins/assignment
  include mixins/dropdown
  .container
    .row
      .col-lg  
        h1.text-center.mt-4= page
    +dropdown(courses)
    .row  
      .col
        h2 Java Application Development
    .row   
      .col-lg-5.mb-4
        each item in assignments
            +assignment(item.name,item.title,item.duedate,true,item.assignment_id)
      .col-lg-2
      .col-lg-5.mb-4
        h3  Singly Linked List
        hr
        div Due: 01/23/19
        div Create a Singly Linked List using Java
        div 
          a.red-link(href="uploads/assignmentInfoUploads/linkedlist.txt" target="_blank") Materials
        div
          strong Points Possible: 
          span 20
        div
          strong Submitted Files: 
          span None
        div
          strong Feedback: 
          span None
        form.mt-2(method="GET" action="/")
          .form-row
            .col
              input.form-control-file(type="file" placeholder="Upload Files..." required)
          .form-row.mt-2
            .col
              button.btn.red-btn.mt-2(type="submit") Submit