extends layout 

block content
  include mixins/dropdown
  .container
    .row
      .col-lg  
        h1.text-center.mt-4= page
        hr
    +dropdown(courses)
    .row.mb-4  
      .col
        h2#courseHeader
    .row   
      .col-lg-5#gradeContainer
      .col-lg-2