extends layout

block content
  include mixins/assignment
  include mixins/announcement
  .container 
    .row.mx-auto.mt-4.align-items-center
        h1.col.text-center= page
    .row   
      .col-5
        each item in assignments
            +assignment(item.title,item.duedate,true,item.assignment_id)
      .col-2
      .col-5
        +announcement(null,"Nucor will be presenting at 12:30pm in CSM212")
        +announcement(null,"Graduating seniors need to submit intent to graduate by 02/12")
        +announcement(null,"RSI will be presenting on 02/15 at 12:45pm in CSM211")
