extends layout

block content
  include mixins/assignment
  include mixins/announcement
  .container 
    .row.mx-auto.mt-4.align-items-center
        h1.col.text-center= page
    .row   
      .col-5
        each item in assignments
            +assignment(item.title,item.duedate,true,item.assignment_id)
      .col-2
      .col-5
        if announcements.length
          each item in announcements  
            +announcement(null,item.body)
