extends layout

block content
  include mixins/assignment
  include mixins/announcement
  .container.mb-4
    .row   
      .col-lg-6.mt-4
        h2 Current Assignments
        hr
        each item in assignments
            +assignment(item.name,item.title,item.duedate,true,item.assignment_id)
      .col-lg-6.mt-4
        if announcements.length
          h2 Announcements
          hr
          #announcementContainer.accordion
            each item in announcements 
              +announcement(item.id,null,item.title,item.body)

