extends layout 

block content
  include mixins/assignment
  include mixins/dropdown
  include mixins/assignmentPreview
  include mixins/gradesTables
  .container
    .row
      .col-lg  
        h1.text-center.mt-4= page
        hr
    +dropdown(courses)
    .row.mb-4  
      .col
        h2#courseHeader
    .row#gradeContainer