extends layout 

block content
  include mixins/assignment
  include mixins/dropdown
  include mixins/assignmentPreview
  .container
    .row
      .col-lg  
        h1.text-center.mt-4= page
    +dropdown(courses)
    .row.mb-4  
      .col
        h2#courseHeader
    .row   
      .col-lg-5.mb-4#assignmentContainer
      .col-lg-2
      //+assignmentPreview('Singly Linked List','Tuesday','Create the insert function for a singly linked list',4,20,0,0)