extends layout

block content
    nav.navbar.navbar-dark
        img(src="/images/cscade_logo_white.png" height="50" alt="")
    .container.mt-4
      .row.justify-content-center
        .col-lg-6
          h1= page
      .row.justify-content-center
        .col-lg-6
          form(method='post' action='/login')
            .form-group
              label(for='userName') Username
              input#userName.form-control(type='text' placeholder='Username' name='username')
            .form-group
              label(for='userPassword') Password
              input#userPassword.form-control(type='password' placeholder='Password' name='password')
              small#emailHelp.form-text.text-muted Your username and password are the same as for your A-State student account, excluding "@smail.astate.edu".
            .form-check
              //input#exampleCheck1.form-check-input(type='checkbox')
              //label.form-check-label(for='exampleCheck1') Check me out
            //button.btn.red-btn(type='submit') Login
            button.btn.red-btn(type="submit") Login
