//
    
        a(class="navbar-brand" href="#")
            img(src="/images/CSCADElogo.png" height="30" alt="")
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
                a.nav-item.nav-link.active(href='#')
                    | Home 
                    span.sr-only (current)
nav.navbar.navbar-dark
    span.fas.fa-bars(onclick='openNav()')
    img(src="/images/cscade_logo_white.png" height="50" alt="")
#Sidenav.sidenav
  span.closebtn.fas.fa-times(href='javascript:void(0)' onclick='closeNav()')
  a(href='/dashboard') Dashboard
  //
    a(href=#{nav2}) Services
    a(href=#{nav3}) Clients
    a(href=#{nav4}) Contact

