nav.navbar.navbar-dark
    span.fas.fa-bars(onclick='openNav()')
    img(src="/images/cscade_logo_white.png" height="50" alt="")
#Sidenav.sidenav
  span.closebtn.fas.fa-times(href='javascript:void(0)' onclick='closeNav()')
  //Example of setting active class based on the title passed to the page
    We can change the title later - Sam.
  a(href='/dashboard' class=(title === "cscade 2.0") ? 'active': '') Dashboard
  a(href='/courses') Courses
  a(href='/assignments') Assignments
  a(href='/grades') Grades
  a(href='/logout') Logout
  span#serverTime HH:MM:SS AM

