:root {
  --cscade-red: #cb0000;
  --dark-red: #ad0000;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav{
  background-color: var(--cscade-red);
}
.sidenav {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: var(--cscade-red); 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.3s ease; 
  box-shadow: 5px 0px 8px rgba(48, 48, 48, 0.425);
}

.sidenav a {
  text-decoration: none;
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: var(--dark-red);
  text-decoration: none;
  color: white;
}

.sidenav .active {
  background-color: var(--dark-red);
}


.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  cursor: pointer;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

#serverTime{
  padding: 8px 8px 8px 32px;
  display: block;
  font-size: 25px;
  color: white;
  background: var(--dark-red);
  width: 100%;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
}

.fa-bars{
  font-size: 36px;
  padding: 8px 8px 8px 8px;
  color: white;
  cursor: pointer;
}

.red-btn {
  background: var(--cscade-red);
  color: white;
}

.red-btn:hover {
  background: var(--dark-red);
  color: white;
}

.white-btn{
  background: white;
  color: var(--cscade-red);
}

.white-btn:hover{
  color: var(--cscade-red);
}

.card{
  background: var(--cscade-red) !important;
  color: white;
  min-height: 104px;
}



.assignment i{
  font-size: 35px;
  padding-left: 10px;
}