mixin assignment(title, due, submitted,infopage)
    #assignment.card.lg-row.mt-2
        .card-body.p-2
            p.card-title.mb-0= title
            p.card-text.mb-0 Due: #{due}
            .row
                a.btn.white-btn.ml-3(href= '/'+ infopage) View More
                if submitted
                    i.far.fa-check-circle
                else
                    i.far.fa-times-circle 