mixin assignment(course,title, due, submitted,assignmentid)
    .assignment.card.lg-row.mt-2
        .card-body.p-2
            p.card-title.mb-0.font-weight-bold= course
            p.card-title.mb-0.font-weight-bold= title
            - due = due.toString().substr(0,24)
            p.card-text.mb-1.date Due: #{due}
            .row.align-items-center
                a.assignmentInfo.btn.white-btn.ml-3.mr-2.py-0.px-1.font-weight-bold(href= '/assignments/'+ assignmentid, data-info= assignmentid) View More
                //if submitted
                    i.far.fa-check-circle
                //else
                    i.far.fa-times-circle 