mixin dropdown(courses)
    .row.mb-4
      .col-lg.text-center
        select.form-control#courseSelect
          if courseId
            option(disabled="disabled") Select Course
          else
            option(selected="selected" disabled="disabled") Select Course
          each course in courses
              if courseId && courseId == course.course_id
                option.dropdown-item(href='#' value=course.course_id selected)= course.name
              else
                option.dropdown-item(href='#' value=course.course_id)= course.name